.Cell {
  height: 100px;
  width: 100px;
  background-color: rgb(24, 19, 19);
  transition: background-color 0.5s ease;
  border-radius: 1px;
  cursor: pointer;
}

.Cell-lit {
  background-color: rgb(236, 193, 18);
}